@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App {
  column-gap: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 16px;
  row-gap: 3px;
  text-align: center;
}

.App-article {
  border: 1px solid #333;
  display: grid;
  padding: 6px;
}

.App-heading {
  text-align: center;
}

.App-image {
  margin: 0 auto;
  width: 200px;
}

@media screen and (max-width:768px){

  .App {
    grid-template-columns: 1fr;
  }
}
